<p id="notice"><%= notice %></p>

<h1>
  <%= @room.name %>
</h1>

<%= turbo_stream_from "room" %>
<%= turbo_frame_tag "room" do %>
  <div class="row">
    <div class="col-md-6">
      <h2>radiant</h2>
      <div class="list-group">
        <% @room.room_players.first(5).each do |room_player| %>
          <div class="list-group-item list-group-item-success">
            <%= render room_player %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h2>dire</h2>
      <div class="list-group">
        <% @room.room_players.last(5).each do |room_player| %>
          <div class="list-group-item list-group-item-danger">
            <%= render room_player %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= button_to 'Start Room', start_room_path(@room) %>

<%= link_to 'Edit', edit_room_path(@room) %>
<%= link_to 'Back', rooms_path %>
